body {
    background-color: rgb(31, 31, 31);
    /* background-image: linear-gradient(to right, rgb(48, 48, 48), rgb(17, 17, 17) ); */
}

.le-head {
    padding: 18px;
    background-color:rgb(58, 58, 58);
    background-image: linear-gradient(to right, rgb(17, 17, 17) , rgb(48, 48, 48), rgb(122, 122, 122));
    color:aliceblue;
}

.le-body {
    padding: 20px;
    text-align: center;
}

p {
    color: aliceblue;
}

.navbar {
    background-color: rgb(26, 26, 27);
    background-image: linear-gradient(to right, rgb(17, 17, 17) , rgb(59, 59, 59));
}

.navbar-brand {
    margin-left: 5px;
}

.centered {
    max-width:fit-content; 
    margin-left: auto; 
    margin-right: auto;
}

.center-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 200px;
    height: 100px;
}

.titles {
    color: aliceblue; 
    font-size: 30px; 
    font-weight: 400px; 
    text-decoration: underline;
}